@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

body {
    background-image: url("IphoneWallpaper.jpg");
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    background-color: black;
}
#icon-screen {
    display: flex;
    justify-content: center;
}
#icon-screen > div {
    display: flex;
    flex-wrap: wrap;
}

#icon-screen .app:nth-child(1) span {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(175, 70, 252, 1 0%, )rgba(63, 94, 251, 1) 100%);
}

#icon-screen .app:nth-child(2) span {
    background: rgb(131, 58, 180);
    background: linear-gradient(45deg, rgba(131, 58, 180, 1) 0%, rgba(188, 29, 253, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

#icon-screen .app:nth-child(3) span {

    background: rgb(34, 193, 195);
    background: linear-gradient(204deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

#icon-screen .app:nth-child(4) span {
    background: rgb(245, 251, 63);
    background: radial-gradient(circle, rgba(245, 251, 63, 1) 0%, rgb(252, 70, 70) 100%);
}

.app {
    padding: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.app>p {
    height: 1px;
    font-size: 15px;
    text-align: center;
    margin: 0;
    filter: drop-shadow(0px 0px 10px black);
}

.app>span {
    display: flex;
    border: black none 5px;
    background-color: green;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}
#back{
    display: flex;
    align-items: center;
    background-color: rgb(87, 87, 87);
    border-radius: 20px;
    width: 20%;
    height: 3%;
    margin: 10px;
    padding: 3px;
}
#bottom-panel {
    display: flex;
    position: absolute;
    bottom: 0;
    /* positions at the bottom */
    left: 50%;
    /* centers horizontally */
    transform: translateX(-50%);
    width: 80%;
    /* or any desired width */
    width: 90%;
    height: 80px;
    background-color: rgba(210, 210, 210, 0.4);
    border-radius: 30px;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    padding: 7px;
}

#bottom-panel div:nth-child(1) span {
    background: rgb(31, 159, 73);
    background: linear-gradient(333deg, rgba(31, 159, 73, 1) 0%, rgba(36, 191, 75, 1) 50%, rgba(31, 218, 70, 1) 100%);
}

#bottom-panel div:nth-child(2) span {
    background: rgb(0, 213, 255);
    background: linear-gradient(0deg, rgba(0, 213, 255, 1) 0%, rgba(0, 71, 254, 1) 100%);
}
#application{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 22, 22);
    color: white;
    overflow: auto;
}
#application:has(#phone-content){
    background-color: rgb(18, 18, 18);
    color: white;
}
#application-holder{
    position: absolute;
    width: 100%;
    height: 100%;
}
#phone-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numpad{
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#numpad h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: rgb(67, 67, 67);
    border:rgb(67, 67, 67) solid 5px;
    border-radius: 40px;
}
#numpad span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: rgb(2, 154, 2);
    border-radius: 40px;
    font-size: 40px;
}
#awards img, #gallery img{
    width: 49%;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
    
}
#application:has(#mail){
    background-color: rgb(22, 22, 22);
    color: white;
}
#mail{
    padding: 10px;
}
#mail #header{
    display: flex;
    align-items: center;
    width: 100%;
}
#mail #header span{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: gray;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(22, 22, 22);
    font-size: 40px;
    font-weight: bold;
}
#mail h3{
    color: gray;
}
#mail hr{
    color: rgba(128, 128, 128, 0.246);
}
#mail #to{
    display: flex;
    align-items: center;
    height: 50px;
}
#mail #to h3:last-child{
    margin-left: 10px;
    color: white;
    font-size: 15px;
}
#mail #subject, #from{
    display: flex;
    align-items: center;
}
#mail #subject input, #from input{
    height: 20px;
    background-color: rgba(22, 22, 22);
    color: white;
    font-size: 15px;
    width: 50%;
    border: none;
}
#mail #message textarea{
    background-color: rgba(22, 22, 22);
    color: white;
    font-size: 20px;
    width: 95%;
    height: 200px;
    resize: none;
    border: none;
    font-weight: 100px;
}
.social-tag{
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 40px;
}
.social-tag i{
    margin-right: 10px;
}
